/*
 * CSS Document
 * Creat by Nelson 2016/02/18
 * 
 * Website:http://www.nelson_obj.com
 * 
 * QQ:616859570
 * Email:lirongkun@mytopbrand.com,616859570@qq.com
 * */

*{
	padding: 0;
	margin: 0;
}
html,body{
	background: #ffffff;
}
img{
	display: block;
}
