/*
 * CSS Document
 * 
 * Creat by Nelson 2016/02/18
 * 
 * Website:https://segmentfault.com/u/nelson2016
 * 
 * QQ:616859570
 * 
 * Email:Nelson_Lee@outlook.com , Nelson2016@aliyun.com
 * */

.wrap{
	margin: 10px auto;
	width: 329px;
	height: 640px;
	background: url(../images/iphone_keyboard_bg.jpg) no-repeat;
	background-size: 100%;
	padding-top: 200px;
}
.inputBoxContainer{
	width: 240px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}
.inputBoxContainer .bogusInput{
	width: 100%;
	height: 100%;
	border: #c3c3c3 1px solid;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}
.inputBoxContainer .realInput{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	filter:alpha(opacity=0); 
	-moz-opacity:0; 
	opacity:0;
}
.inputBoxContainer .bogusInput input{
	padding: 0;
	width: 16.3%;
	height: 100%;
	float:left;
	background: #ffffff;
	text-align: center;
	font-size: 20px;
	border: none;
	border-right: #C3C3C3 1px solid;
}
.inputBoxContainer .bogusInput input:last-child{
	border: none;
}
.confirmButton{
	width: 240px;
	height: 45px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #f4f4f4;
	border: #d5d5d5 1px solid;
	display: block;
	font-size: 16px;
	margin: 30px auto;
	margin-bottom: 20px;
}
.showValue{
	width: 240px;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}
